<%- include('../partials/user/header') %>

<main class="main" >
    <div class="container text-center" style="margin-top: 50px; margin-bottom: 50px; height: 60vh;">
        <h1 class="display-4 text-primary mb-3">
            Awesome! Your Order is Placed.
        </h1>
        <h4 class="h5 text-secondary">
            We will notify you once it's shipped!
        </h4>
        <a href="/user/shop" class="btn btn-outline-primary btn-lg mt-4">Continue Shopping</a>
    </div>
</main>

<%- include('../partials/user/footer') %>
